body {
    background-color: #127784;
}

.h1Container {
    background-color: #9FF2D2;
    width: 50%;
    padding: 10px;

}

h1 {
    font-family: 'Holtwood One SC', serif;
    color: ;
    
    
}

.pContainer {
    background-color: #9FE9F2;
    position: 50%;
    padding: 10px;
    
}