body {
    background-color: yellow;
}

ul {
    font-style: italic;
    font-size: 30px;
    margin-left: 50px;
    /* border: 2px solid red;
    padding: 20px; */
}

li:hover {
        background-color: green;
}